@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

.App {
  text-align: center;
}
html{
  overflow-x: hidden; 
  overflow-y: scroll;
}
body{
  background-color: #222432;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1200 800'%3E%3Cdefs%3E%3CradialGradient id='a' cx='0' cy='800' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%2355565d'/%3E%3Cstop offset='1' stop-color='%2355565d' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='b' cx='1200' cy='800' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23545374'/%3E%3Cstop offset='1' stop-color='%23545374' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='c' cx='600' cy='0' r='600' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%2387859f'/%3E%3Cstop offset='1' stop-color='%2387859f' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='d' cx='600' cy='800' r='600' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23222432'/%3E%3Cstop offset='1' stop-color='%23222432' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='e' cx='0' cy='0' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23888888'/%3E%3Cstop offset='1' stop-color='%23888888' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='f' cx='1200' cy='0' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%238681B6'/%3E%3Cstop offset='1' stop-color='%238681B6' stop-opacity='0'/%3E%3C/radialGradient%3E%3C/defs%3E%3Crect fill='url(%23a)' width='1200' height='800'/%3E%3Crect fill='url(%23b)' width='1200' height='800'/%3E%3Crect fill='url(%23c)' width='1200' height='800'/%3E%3Crect fill='url(%23d)' width='1200' height='800'/%3E%3Crect fill='url(%23e)' width='1200' height='800'/%3E%3Crect fill='url(%23f)' width='1200' height='800'/%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
  color: #f1f1f1;
  margin: 0;
  font-family: 'Bebas Neue', sans-serif;
  width: 100vw;
  scrollbar-width:none; /* for Firefox */
  overflow-x: hidden; 
  overflow-y: scroll;
}

/* navbar */
.navigation {
  position: relative;
  display: flex;
  align-items: flex-end;
  height: fit-content;
  width: 100%;
  padding: auto;
}
.navigation img{
  height: 7rem;
  width: 7rem;
  margin-left: 1rem;
}
/* nav end */

/* hero */

.hero img{
  height:100vmin;
  width: auto;
}

.hero{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: -7rem;
  margin-bottom: 2rem;
  width: 100vw;
  height: 100vh;

} 
/* hero ends */

/* Cards */
*,
*::before,
*::after {
  box-sizing: border-box;
}
.card-wrapper{
  max-width: 1500px;
  margin: 0 auto;
}
.card-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
  align-items: start;
  max-width: 70%;
  margin: 0 auto;
  padding: 5rem 0;
}
.card {
  color: rgb(255, 255, 255);
  width: 100%;
  height: 30rem;
  min-height: fit-content;
  background-color: rgba(181, 187, 239, 0.696);
  display: inline-block;
  vertical-align: middle;
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 15px 15px -10px rgba(0, 0, 0, 0.5);
  border-top-left-radius: 20%;
  border-bottom-right-radius: 20%;
  overflow: hidden;
  transition: transform 0.3s ease-out, box-shadow 0.3s ease-out;
}
.card:hover, .card:focus, .card:active {
  transform: translateY(-5px) scale(1);
  box-shadow: 0 30px 30px 10px rgba(0, 0, 0, 0.5);
}
.card p {
  font-size: 20px;
  padding: 15px;
  font-family: sans-serif;
}
.project-button{
  text-align: center;
}
.text h3{
  text-align: center;
  font-weight: bold;
  font-size: 2rem;
}
.text {
  position: relative;
  top: 67%;
  line-height: 1.5rem;
  text-align: center;
  transform: translateY(-50%);
  padding: 0px;
}
.project-button button {
  background-image: linear-gradient(92.88deg, #5a6db2 9.16%, #5277c7 43.89%, #556de5 64.72%);
  border-radius: 8px;
  border: none;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  flex-shrink: 0;
  font-size: 16px;
  font-weight: 500;
  height: 2rem;
  padding: 0 1.6rem;
  text-align: center;
  text-shadow: rgba(0, 0, 0, 0.25) 0 3px 8px;
  transition: all 0.5s;
  user-select: none;
  touch-action: manipulation;
  -webkit-box-shadow: rgba(0, 0, 0, 0.25) 0 3px 8px;
  box-shadow: rgba(0, 0, 0, 0.25) 0 3px 8px;
}
.project-button a:hover {
  box-shadow: rgba(80, 63, 205, 0.5) 0 1rem 30px;
  transition: box-shadow 0.1s ease-in-out;
}
.project-image img {
  position: absolute;
  top: 0; /* Adjust this value as needed */
  width: 100%;
  height: 40%;
  border-top-left-radius: 20%;
}
@media (max-width: 2500px) {
  .card-container {
    grid-template-columns: repeat(3, 1fr);
  }
  .card-wrapper {
    justify-content: center;
    align-items: center;
  }
}
@media (max-width: 1600px) {
  .card-container {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2rem;
  }
  .card-wrapper {
    justify-content: center;
    align-items: center;
  }
  .project-image img {
    height: 50%;
  }
  .card {
    width: 100%;
    margin: auto;
  }
  .text {
    margin-top: 1rem;
    top: 70%;
  }
}

@media (max-width: 980px) {
  .card-container {
    grid-template-columns: 1fr;
  }
  .card {
    width: 80%;
    margin: auto;
  }
  .card p{
    padding: 0rem ;
  }
  .text {
    top: 71.5%;
    padding-bottom: 2rem;
  }
}
.languages img {
  display: inline-flex;
  justify-content: center;
  width: 25px;
  margin-top: 1rem;
}

/* about section */
.about-section{
  padding-top: 2rem;
  padding-bottom: 2rem;
  margin-bottom: 9rem;
  height: fit-content ;
  width: 80%;
  max-width: 90%;
  max-height: fit-content;
  overflow-x: hidden; 
  overflow-y: scroll;
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 1700px) {
  .about-section{
    max-width: 100rem;
    padding-left: 7rem;
  }
  
}
.about-section img{
  height: 30rem;
  width: 30rem;
  border-radius: 50%;
  float: left;
  shape-margin: -.4rem;
  shape-outside: circle(50%);
  margin-top: 3rem;
  
}
.about-section p{
  height: 70%;
  max-width: 60rem;
  line-height: 3rem;
  margin: auto;
  color: #FFFFFF;
  font-weight: 700;
  font-size: 20px;
}
.section-title img{
  width: 25rem;
  height: auto;
  display: flex;
  justify-content: end;
}
@media (max-width: 1100px) {
  .about-discription{
    width: 100%;
    flex-direction: column;
    display: flex;
    justify-content:center;
    align-items: center;
  }
  .about-img{
    display: flex;
    justify-content: center;
    align-items: center;

  }
}
@media (max-width: 2133){
  .about-section img{
    display: flex;
    justify-self: end;
  }
}
@media (max-width: 697px) {
  .about-img img{
    width: 100%;
    height: auto;
    margin: 0, auto;
  }
  .title{
    width: 50% !important;
    height: auto;
    margin: 0, auto;
  }
}
/* contact section */
.contact-section{
  display: flex;
  justify-content: center;
  align-items: center;
}
.contact-logo{
  /* background-color: #c0bde3; */
  height: 8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
}
.contact-logo img{
  height: 6rem;
  object-fit: cover;
}
@media (max-width: 1160px) {
  .contact-logo img{
    height: 4rem;
  }
}
/* title */
.title-header{
  height: 7rem;
  /* background-color: #c0bde3; */
  /* margin-top: 5rem; */
  width: 100%;
}

@media (max-width: 740px) {
  .title-header{
    height: 1rem;
  }
}
.title {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  height: auto;
  display: flex;
}
.title-header img{
  width: 25rem;
  display: flex;
  justify-content: center !important; 
  align-items: center;
}
.card-title {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 60%;
}
.card-title img{
  width: 35rem;
}
@media (max-width: 1160px) {
  .card-title{
    margin-top: 3rem;
  }
}
/* Icon Down */
.hvr-icon-down i{
  margin: auto;
  left: 0;
  right: 0;
}
@media (max-width: 690px) {
  .hvr-icon-down i{
    margin-top: 13rem;
  }
}
/* Icon Down */
.hvr-icon{
font-size: 4rem;
  color: #FFFFFF;
}
.hvr-icon-down {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  margin-top: -13rem;
}
.hvr-icon-down .hvr-icon {
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}
.hvr-icon-down:hover .hvr-icon, .hvr-icon-down:focus .hvr-icon, .hvr-icon-down:active .hvr-icon {
  -webkit-animation-name: hvr-icon-down;
  animation-name: hvr-icon-down;
  -webkit-animation-duration: 0.75s;
  animation-duration: 0.75s;
  -webkit-animation-timing-function: ease-out;
  animation-timing-function: ease-out;
}

@-webkit-keyframes hvr-icon-down {
  0%,
	50%,
	100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  25%,
	75% {
    -webkit-transform: translateY(6px);
    transform: translateY(6px);
  }
}
@keyframes hvr-icon-down {
  0%,
	50%,
	100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  25%,
	75% {
    -webkit-transform: translateY(6px);
    transform: translateY(6px);
  }
}
